.logo img {
  height: 55px; /* adjust as needed */
  margin-right: 10px; /* add some spacing between logo and title */
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding-left: 50px;
  /* background-color: #2ECC71;  change to green */
  background-color:rgb(255, 255, 255);
  color:#087aec;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  margin-top:20px;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 999;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 20px;
  padding: 0 20px;
  background-color: rgb(255, 255, 255);
  position: relative;
  right: 20px;
}

.nav-bar > a {
  color: #087aec;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin-right: 20px;
  text-decoration: none;
}

.nav-bar > a:hover {
  text-decoration: underline;
  color: #2ECC71; /* change the link color to blue on hover */
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 8px;
  color: #087aec;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin-right: 20px;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: #2ECC71;
  text-decoration: underline;

}
.Destinations{
  color: #087aec;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin-right: 20px;
  text-decoration: none;
}
/*
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
*/

.container{
    display: grid;
    /*
    grid-template-columns:50% 1fr;
    grid-template-rows: repeat(2,200px);
    */
    grid-template-areas: 
    "item1 item2 "
    "item3 item4 "
    "item5 item5 ";
    grid-template-columns: auto;
    grid-template-rows: auto;
    
    grid-gap:20px;
    margin: 5%;
    margin-top: 10%;
    /* background-color: #2ECC71; change to green */
    padding:30px;
    border-radius: 10px;
    height: 550px;;
}

.grid-items{
    /*background-color: #2ECC71; */
    color: white;
    text-align: center;
    border-radius: 10px;
    height:100%;
    width:100;
}
.grid-items p{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.image1 {
  grid-area: item1;
}

.image2 {
  grid-area: item2;
}

.image3 {
  grid-area: item3;
}

.image4 {
  grid-area: item4;
}
.item5{
    height: 30px;
    background-color: #0a5aab;
    padding: 20px;
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
    width:100%;
    grid-area: item5;
}

.container img{
    width: 70%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.container img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    border: 2px solid #04509c; /* add a green border */
}

body{
    /* background-color: #087aec; */
    background-color: #087aec;
}

/*This code is for Travel Tips section*/

.tips-section {
  max-width: 300px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: auto; /* add overflow property */
  height: 590px; /* set the height */
  }
  
  .tips-section h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  
  .tips-section h3 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .tips-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .tips-section li {
    margin-bottom: 30px;
  }
  
  .tips-section h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .tips-section p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .tips-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95%;
    width: 93%;
  }
  
  .tips-section {
    flex-grow: 1;
  }
  
  .image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
  }
  
/*This code is for flipping pictures*/
.travel-flip h2{
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color: #0a5aab;
    border-radius: 10px;
    border: 1px solid #0a5aab;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 0px 10px rgba(5, 116, 243, 0.5);
    transition: all 0.3s ease-in-out;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-timing-function: ease-in-out;
    transition-property: all;
    color: azure;
}
  
.travel-flip {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color:#0a5aab;
  margin: 4%;
  border-radius: 5px;
}

.flip {
  width: 300px;
  height: 300px;
  margin: 40px;
  perspective: 1000px;
}

.flip-image {
  position: relative;
  width: 100%;
  height: 90%;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.flip-image:hover {
  transform: rotateY(180deg);
}

.flip-image img {
  position: absolute;
  width: 100%;
  height: 90%;
  backface-visibility: hidden;
}

.flip-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.flip-info h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.flip-info p {
  font-size: 16px;
  line-height: 1.5;
}

/*This code is for Responsive website*/

/* For screens smaller than 768px */
@media (max-width: 767px) {
  /* Adjust the size and position of the header */
  .header {
    text-align: center;
    padding: 10px;
  }
  
  /* Adjust the size and position of the navigation links */
  .nav-bar {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  
  /* Adjust the size and position of the grid items */
  .grid-items {
    width: 100%;
  }
  
  /* Adjust the size and position of the travel tips section */
  .tips-section {
    padding: 10px;
  }
  
  /* Adjust the size and position of the travel flip section */
  .travel-flip {
    padding: 10px;
  }
}

/* For screens between 768px and 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Adjust the size and position of the header */
  .header {
    text-align: center;
    padding: 10px;
  }
  
  /* Adjust the size and position of the navigation links */
  .nav-bar {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  
  /* Adjust the size and position of the grid items */
  .grid-items {
    width: 100%;
  }
  
  /* Adjust the size and position of the travel tips section */
  .tips-section {
    padding: 10px;
  }
  
  /* Adjust the size and position of the travel flip section */
  .travel-flip {
    padding: 10px;
  }
}

/* For screens larger than 1024px */
@media (min-width: 1025px) {
  /* Reset the size and position of the header */
  .header {
    text-align: left;
    padding: 20px;
  }
  
  /* Reset the size and position of the navigation links */
  .nav-bar {
    display: inline-block;
    text-align: left;
    margin-bottom: 0;
  }
  
  /* Reset the size and position of the grid items */
  .grid-items {
    width: 90%;
  }
  
  /* Reset the size and position of the travel tips section */
  .tips-section {
    padding: 20px;
  }
  
  /* Reset the size and position of the travel flip section */
  .travel-flip {
    padding: 20px;
  }
}


footer {
  background-color: #f2f2f2;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  margin-right: 20px;
}

.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-links li {
  margin-right: 20px;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.footer-links a:hover {
  text-decoration: underline;
}
.fo{
  font-size: 20px;
  font-weight: 600;
  color: #0a5aab;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10%;
  margin-bottom: 2%;
  
}
#fo-link{
  font-size: 15px;
  font-weight: 600;
  color: #0a5aab;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-bottom: 2%;
}

/*Css for all destination pages ! */

#destination-h1{
    font-size: 30px;
    font-weight: 600;
    margin-left: 43%;
    color: #0c447d;
    text-align: center;
}
#destination-img{
    width: 100%;
    height: 100%;
    margin-top: 10%;
    margin-bottom: 2%;
}


.destination-description{
    font-size: 20px;
    font-weight: 600;
    margin: 4%;
    color: #eaedf0;
    text-align: left;
    background-color: #0a5aab;
    padding: 2%;
    border-radius: 5px;
    border: 1px solid #eaedf0;
    border-bottom-color: #0a5aab;
    border-right-color: #0a5aab;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

iframe{
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 2px;
}